<div class="container mt-4">
  <div class="d-flex justify-content-between align-content-center mb-4">
    <h1>All our Flats</h1>
    <%= link_to 'Add Flat', new_flat_path, class: 'btn btn-primary d-flex align-items-center' %>
  </div>

  <p>All <%= @flats.count %> flats.</p>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100 bg-light shadow-sm">
          <div class="card-body">
            <h5 class="card-title fw-bold"><%= flat.name %></h5>
            <p class="card-text text-muted small"><%= flat.address %></p>
            <p class="card-text"><%= truncate(flat.description, length: 100) %></p>

            <hr>

            <div class="d-flex justify-content-between text-muted">
              <span><i class="fa-solid fa-users"></i> <%= flat.number_of_guests %></span>
              <span><i class="fa-solid fa-euro-sign"></i> <%= flat.price_per_night %></span>
            </div>
          </div>
          <div class="card-footer bg-white border-top-0 pb-3">
            <%= link_to 'More info', flat_path(flat), class: 'text-primary text-decoration-none' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
